.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icons a {
  margin-left: 10px;
}

.fa-twitter,
.fa-discord {
  font-size: 20px;
}
